.portfolio--section {
  display: flex;
  padding: 70px 85.33px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}
.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}
.portfolio--section--container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 42.6px;
  grid-template-columns: repeat(3, 1fr);
}
.portfolio--section--img {
  border-radius: 8px;
  width: 100%;
}
.portfolio--section--img > img {
  width: 100%;
  height: 200px;
}
.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  background: #fff;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  min-height: 450px;
  height: 470px;
}
.portfolio--section--card--content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  overflow: auto;
}
.portfolio--section--title {
  color: var(--heading-color);
  font-size: 18px;
  font-weight: 600;
}
.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 600;
}
.portfolio--section--card:hover path {
  stroke: #006b6a;
}

.portfolio--title {
  color: var(--heading-color);
  font-size: 35px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
  text-transform: uppercase;
}

.portfolio--section--description {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
}

@media only screen and (max-width: 1200px) {
  .portfolio--section--container {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio--container-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .portfolio--section--card--content {
    padding: 18px;
  }
}
