.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 133.333px 85.333px 133.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background-color: #f8d8dd;
}
.hero--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.333px;
}

.hero--section--content--box > button {
  margin-top: 21.333px;
}
.hero--section--title {
  color: var(--heading-color);
  font-size: 74.667px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}
.hero--section--title--color {
  color: var(--primary);
}
.hero--section-description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.hero--section--img {
  display: flex;
  justify-content: center;
}
.hero--section--img > img {
  width: 70%;
  height: 100%;
  border-radius: 30px;
}

@media only screen and (max-width: 1800px) {
  .hero--section--title {
    font-size: 60px;
    line-height: 70px;
  }
}

@media only screen and (max-width: 1200px) {
  .hero--section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }
  .hero--section--title,
  .hero--section-description {
    text-align: center;
  }
  .hero--section--content,
  .hero--section--content--box {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .hero--section--title {
    font-size: 35px;
    line-height: 40px;
  }
  .hero--section--content--box {
    gap: 10px;
  }
}
